Flask==2.0.1
jsonschema==3.2.0
lightgbm==3.2.1
numpy==1.19.5
requests==2.25.1
requests-oauthlib==1.3.0
pandas==1.2.4
pandas-profiling==3.0.0
pandocfilters==1.4.3
pickleshare==0.7.5
sklearn==0.0
scikit-learn==0.24.2
absl-py==0.13.0
altair==4.1.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
cffi==1.14.5
chardet==4.0.0
click==7.1.2
Command==0.1.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.17
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
missingno==0.4.2
mistune==0.8.4
multimethod==1.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
opt-einsum==3.3.0
packaging==20.9
Bottleneck==1.3.2
tzlocal==2.1
update==0.0.1
urllib3==1.26.5
validators==0.18.2
visions==0.7.1
watchdog==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
